absl-py==2.2.2
attrs==25.3.0
cachetools==5.5.2
causal-conv1d==1.0.0
certifi==2025.4.26
charset-normalizer==3.4.2
contourpy==1.1.1
cycler==0.12.1
einops==0.8.1
filelock==3.16.1
fonttools==4.57.0
fsspec==2025.3.0
google-auth==2.40.1
grpcio==1.70.0
huggingface-hub==0.31.4
idna==3.10
importlib_metadata==8.5.0
Jinja2==3.1.6
kiwisolver==1.4.7
mamba-ssm==1.0.1
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.5
ninja==1.11.1.4
numpy==1.24.4
opencv-python==4.11.0.86
packaging==25.0
pandas==2.0.3
pillow==10.4.0
protobuf==5.29.4
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rsa==4.9.1
safetensors==0.5.3
setuptools==75.3.0
six==1.17.0
SQLAlchemy==2.0.41
tensorboard==2.14.0
tensorboard-data-server==0.7.2
timm==1.0.15
tokenizers==0.20.3
tomli==2.2.1
torch==1.13.0+cu117
torchaudio==0.13.0+cu117
torchinfo==1.8.0
torchstat==0.0.7
torchvision==0.14.0+cu117
tqdm==4.67.1
transformers==4.46.3
triton==3.1.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
Werkzeug==3.0.6
zipp==3.20.2